html{
    background-color: black;
}

img{
    width:100%;
    border:5px solid white;
}

h1{
    color:white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}

p{
    color:white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

div{
    width:50%;
    margin-left: 25%;
}